.pctr{
    height: 45px;
    aspect-ratio: 1/1;
    border-radius: 6px;
    border: 1px dashed #888;
    background: transparent;
    cursor: pointer;
}


.imageInput{
    position: relative;
    height: 100%;
    width: 100%;
}
.workscene{
    display: flex;
    height: 100vh;
    
    background-color: #888;
    
}
.workintruments{
    flex-grow: 1;
    height: 100%;
    background-color: #474747

}
.workTree{
    width: 80%;
    
    height: 100%;
    background-color: rgb(123, 123, 123);
    display: flex;
  
  /* 1. Робимо напрямок колонкою, але REVERSE (зворотним) */
  flex-direction: column-reverse; 
  
  /* 2. Центруємо по горизонталі */
  align-items: center; 
  
  /* 3. Центруємо по вертикалі (якщо у div задана висота) */
  justify-content: center;

}

.castomButton{
    display: flex;
    position: relative;
    width: 20%;
    aspect-ratio: 1/1;
    background-color: #474747;

}
.imagePreview {
  display: flex;
  width: 20%; 
  aspect-ratio: 1/1;
  position: relative;
  flex-shrink: 0;
  margin-top: 10px;
  
}