.pctr{
    height: 45px;
    aspect-ratio: 1/1;
    border-radius: 6px;
    border: 1px dashed #888;
    background: transparent;
    cursor: pointer;
}



.workscene{
    display: flex;
    min-height: 100vh;
    overflow: auto;
    background-color: #888;
    
}
.workintruments{
    flex-grow: 1;
    height: 100%;
    background-color: #474747

}
.workTree{
    width: 80%;
    min-height: 100%;
    background-color: rgb(123, 123, 123);
    display: flex;
    flex-direction: column-reverse; 
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap; 
    gap: 10px;       
}

.imagePreview {
    height: 200px;
    width: 100%;
    object-fit:contain;
    display: block; 
}

.castomButton {
    display: flex;
    position: relative;
    width: 20%;
    aspect-ratio: 1/1;
    background-color: #474747;
    align-items: center;
    justify-content: center;
    color: white;
}

.imageInput {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}
.saveBut{
    position: relative;
    height: 100%;
    width: 100%;
}